useDynLib(condvis, .registration=TRUE)
export(arrangeC, ceplot, cont2color, daisy, factor2color, dist1, plotxc, plotxs, 
    savingby2d, visualweight, update.xcplot, update.xsplot, condtour, makepath)
import(graphics)
importFrom(MASS, parcoord)
